<form action="/answer" method="get" data-turbo="false">
  <p> Ask your coach for anything: </p>
  <!--action = page to which we will navigate when submit // method="get" to define http request-->
  <input type="text" name="query" placeholder="Any question?">
  <!--"name"'s value is the key of "name" parameter => query=are+you+here%3F-->
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
